/* Add your custom styles here */
body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #f8f9fa;
}


.navbar-brand {
    color: #333;
    font-weight: bold;
}

.sidebar {
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 57px;
    width: 200px;
    padding-top: 20px;
    z-index: 2;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar a i {
    margin-right: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 40px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

thead {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

.container {
  z-index: 1;
  margin-top: 60px;
}

.card-body {
  padding: 2.75rem;
}

.card-container {
    overflow: hidden;
}

.row {
  margin-left: 50px;
}

.sidebar ul li:hover {
    background-color: #f5f5f5;
}

.sidebar ul li:hover a {
    color: #000;
}
