<!DOCTYPE html>
<html>
<head>
    <title>Trouble Ticket Management Dashboard</title>
    <!-- Include necessary CSS stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fas fa-chart-bar mr-2"></i>
            Main Dashboard
        </a>

        <ul class="nav d-flex ml-auto">
            <li style="margin-top: 7px;" class="nav-item">
                {{ username }}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <!-- Add your dropdown options here -->
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li style="margin-left: 2px;">
                    <a href="{{ url_for('app_login_rma') }}" target="_blank">
                        <i class="fas fa-clipboard-check"></i>
                        <span>RMA Platform</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('app_login_techsupport') }}" target="_blank">
                        <i class="fas fa-headset"></i>
                        <span>Tech Support Tool</span>
                    </a>
                </li>
                <li style="margin-left: 2px;">
                    <a href="{{ url_for('app_login_trials') }}" target="_blank">
                        <i class="fas fa-file"></i>
                        <span>Trials Tracker</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('app_login_projects') }}" target="_blank">
                        <i class="fas fa-project-diagram"></i>
                        <span>Projects Tracker</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row" style="padding-top: 40px;">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Trials</h5>
                            <table id="app4-table" class="table table-striped">
                                <thead style="background-color: #D3D3D3">
                                    <tr>
                                        <th>Year</th>
                                        <th>Open</th>
                                        <th>Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for year, count in trial_year_freq.items() %}
                                      <tr>
                                        <td>{{ year }}</td>
                                        <td>{{ open_trials[year]|default(0) }}</td>
                                        <td>{{ closed_trials[year]|default(0) }}</td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">RMA's</h5>
                            <table id="app1-table" class="table table-striped">
                                <thead style="background-color: #e9ecef;">
                                    <tr>
                                        <th>Year</th>
                                        <th>Open</th>
                                        <th>Resolved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for year, count in year_freq.items() %}
                                      <tr>
                                        <td>{{ year }}</td>
                                        <td>{{ open_rmas[year]|default(0) }}</td>
                                        <td>{{ closed_rmas[year]|default(0) }}</td>
                                      </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Projects</h5>
                            <table id="app3-table" class="table table-striped">
                                <thead style="background-color: #ADD8E6;">
                                    <tr>
                                        <th>Year</th>
                                        <th>Open</th>
                                        <th>Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for year, count in project_year_freq.items() %}
                                      <tr>
                                        <td>{{ year }}</td>
                                        <td>{{ open_projects[year]|default(0) }}</td>
                                        <td>{{ closed_projects[year]|default(0) }}</td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tech Support Tickets</h5>
                            <table id="app2-table" class="table table-striped">
                                <thead style="background-color: #f5deb3;">
                                    <tr>
                                        <th>Year</th>
                                        <th>Open</th>
                                        <th>Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for year, count in ticket_year_freq.items() %}
                                      <tr>
                                        <td>{{ year }}</td>
                                        <td>{{ open_tickets[year]|default(0) }}</td>
                                        <td>{{ closed_tickets[year]|default(0) }}</td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include necessary JavaScript code -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Add your JavaScript code here -->
    <script>
        // Add your JavaScript code here
    </script>
</body>
</html>
