<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark custom-bg">
    <img class="navbar-img" src="{{ url_for('static', filename='images/Matsing-logo.png') }}" alt="Matsing Logo">
  </nav>
  <div class="container">
    <div class="card mx-auto card-login" style="max-width: 400px;">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#register">Register</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="login">
            <h4  style="text-align: center;" class="card-title">Login</h4>
            <form action="/" method="post">
              <div class="form-group">
                <label for="loginEmail">Email address</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="Enter email" name="loginEmail" required>
              </div>
              <div class="form-group">
                <label for="loginPassword">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="loginPassword" placeholder="Password" name="loginPassword" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="loginShowPassword">Show</button>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="tab-pane fade" id="register">
            <h4 style="text-align: center;">Register</h4>
            <form action="/" method="post">
              <div class="form-group">
                <label for="registerName">Name</label>
                <input type="text" class="form-control" id="registerName" placeholder="Enter name" name="registerName" required>
              </div>
              <div class="form-group">
                <label for="registerEmail">Email address</label>
                <input type="email" class="form-control" id="registerEmail" placeholder="Enter email" name="registerEmail" required>
              </div>
              <div class="form-group">
                <label for="registerPassword">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="registerPassword" placeholder="Password" name="registerPassword" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="registerShowPassword">Show</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="confirmShowPassword">Show</button>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="circle">
        <img style="width: 25px; height: 25px; display: block" src="static/images/matsing-icon.png" alt="Copyright symbol" />
      </div>
      <p style="text-align: center;">
        Matsing Tools Dashboard. All rights reserved.
      </p>
    </footer>
  </div>

  <script>
    // Show/hide password functionality
    $(document).ready(function() {
      $("#loginShowPassword").click(function() {
        var loginPassword = $("#loginPassword");
        loginPassword.attr("type", loginPassword.attr("type") === "password" ? "text" : "password");
        $(this).text($(this).text() === "Show" ? "Hide" : "Show");
      });

      $("#registerShowPassword").click(function() {
        var registerPassword = $("#registerPassword");
        registerPassword.attr("type", registerPassword.attr("type") === "password" ? "text" : "password");
        $(this).text($(this).text() === "Show" ? "Hide" : "Show");
      });

      $("#confirmShowPassword").click(function() {
        var confirmPassword = $("#confirmPassword");
        confirmPassword.attr("type", confirmPassword.attr("type") === "password" ? "text" : "password");
        $(this).text($(this).text() === "Show" ? "Hide" : "Show");
      });
    });
  </script>
</body>
</html>
